body{
    background: url('pozadina.jpg') no-repeat fixed center;
    color: black;
}

#columnWithBorder{
    border-right: thin inset rgba(154, 154, 154, 0.57);
}


input {
    margin:5px 5px 5px 5px;
}

.container{
    position: relative;
}
