body {
  background: url(prazno.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Arial Black";
  font-size: 10em;
  text-align: center;
    color: #4c71bc;

}

h2 {
  font-family: Arial;
  font-weight:bold;
  text-align: center;
}

p {
  font-family: Arial;
  font-weight:bold;
  font-size: 15px;
}

.dd {
  position: relative;
  height:200px;
  width:500px;
  margin:20px;
}

.center {
    margin: auto;
    width: 50%;
  background-color: #670d10;
  padding: 10px;
}

.pic {
  align: left;
  height:200px;
  width:200px;
  margin:auto;
}

