<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registration</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- Loads the path to your static files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}" />

</head>
<body>
<div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6" id="columnWithBorder">
                <h2>Please sign in</h2>
                <form class="form-signin" action="" method="post">
                  {% csrf_token %}
                <input type="username" name="Teamname" id="Teamname" class="form-control" placeholder="Username" required autofocus>
                <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" required>

                  <p><button class="btn btn-secondary" role="button" type="submit">Go</button></p>

              </form>

          </div>

          <div class="col-md-6">
            <h2>Not registered?</h2>
              <form class="form-register" action="{% url 'register' %}" method="post">
                  {% csrf_token %}
                <input type="text" name="Teamname" id="inputFirstName" class="form-control" placeholder="Teamname" required>

                <input type="password" name="Password" id="inputLastName" class="form-control" placeholder="Password" required>

                  <div class="row">
                      <div class="col-md-6">
                      <h3>Team member 1</h3>
                    <input type="text" name="name1" id="inputName1" class="form-control" placeholder="Name" required>
                    <input type="text" name="surname1" id="inputSurname1" class="form-control" placeholder="Surname" required autofocus>
                    <input type="email" name="emil1" id="email1" class="form-control" placeholder="email" required autofocus>
                        </div>

                                            <div class="col-md-6">

                      <h3>Team member 2</h3>
                    <input type="text" name="name2" id="inputName2" class="form-control" placeholder="Name" required>
                    <input type="text" name="surname1" id="inputSurname2" class="form-control" placeholder="Surname" required autofocus>
                    <input type="email" name="emil1" id="email2" class="form-control" placeholder="email" required autofocus>
                      </div>
                  </div>

                  <div class="row">

                                                                  <div class="col-md-6">

                  <h3>Team member 3</h3>
                <input type="text" name="name3" id="inputName3" class="form-control" placeholder="Name" required>
                <input type="text" name="surname3" id="inputSurname3" class="form-control" placeholder="Surname" required autofocus>
                <input type="email" name="emil3" id="email3" class="form-control" placeholder="email" required autofocus>
                                                                      </div>

                 <div class="col-md-6">

                  <h3>Team member 4</h3>
                <input type="text" name="name3" id="inputName4" class="form-control" placeholder="Name" required>
                <input type="text" name="surname3" id="inputSurname4" class="form-control" placeholder="Surname" required autofocus>
                <input type="email" name="emil3" id="email4" class="form-control" placeholder="email" required autofocus>
</div>
                </div>

                  <p><button class="btn btn-secondary" role="button" type="submit">Register</button></p>


                </form>

              <!--if you want >> sign add &raquo; after text-->
          </div>

</body>
</html>
