<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registration</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- Loads the path to your static files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}" />

</head>
<body>
<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6" id="columnWithBorder">
            <h2>Please sign in</h2>
              <form class="form-signin" action="{% url 'register' %}" method="post">
                  {% csrf_token %}
                <label for="username" class="sr-only">Email address</label>
                <input type="username" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

                     <p><button class="btn btn-secondary" role="button" type="submit">Go</button></p>

              </form>

          </div>

          <div class="col-md-6">
            <h2>Not registered?</h2>
              <form class="form-register" action="{% url 'register' %}" method="post">
                  {% csrf_token %}
                <label for="inputFirstName"  class="sr-only">First Name</label>
                <input type="text" name="firstname" id="inputFirstName" class="form-control" placeholder="First Name" required>

                <label for="inputLastName" class="sr-only">Last Name</label>
                <input type="text" name="lastname" id="inputLastName" class="form-control" placeholder="Last Name" required>

                  <label for="inputEmail" class="sr-only">E-mail</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="E-mail" required>

                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" minlength="5" required autofocus>

                  <label for="oib" class="sr-only">Username</label>
                <input type="text" name="oib" id="oib" class="form-control" placeholder="Oib" required autofocus maxlength="11" min="11">

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required minlength="8">

                <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
                <input type="password" name="pass_confirm" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required minlength="8">
                  <p><button class="btn btn-secondary" type="submit" role="button">Get started</button></p>

                </form>

              <!--if you want >> sign add &raquo; after text-->
          </div>

</body>
</html>
