<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registration</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- Loads the path to your static files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'show_details_style.css' %}" />

</head>
<body>

    <h1>{{ teamname }}</h1>
    <h2>ID:</h2>


    <div class="container">
        <div class="col">
            <h2>Members:</h2>
        </div>

        <div class="col-lg-6 col-sm-10 dd d1">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static "br1.png" %}" class="pic">
                </div>

                <div class="col-md-6">
                    <p>Name:</p>
                    <p>Surname:</p>
                    <p>Email:</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-10 dd d1">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static "br2.png" %}" class="pic">
                </div>

                <div class="col-md-6">
                    <p>Name</p>
                    <p>Surname</p>
                    <p>Email</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-10 dd d1">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static "br3.png" %}" class="pic">
                </div>

                <div class="col-md-6">
                    <p>Name</p>
                    <p>Surname</p>
                    <p>Email</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-10 dd d1">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static "br4.png" %}" class="pic">
                </div>

                <div class="col-md-6">
                    <p>Name</p>
                    <p>Surname</p>
                    <p>Email</p>
                </div>
            </div>
        </div>

        </div>

    </div>

</body>
</html>
